@{
    ViewBag.Title = "Chat";

}

<input type="hidden" id="fromName" value="@ViewBag.FromUser.Name" />
<input type="hidden" id="toName" value="@ViewBag.ToUser.Name" />
<input type="hidden" id="fromUserId" value="@ViewBag.FromUser.UserId" />
<input type="hidden" id="toUserId" value="@ViewBag.ToUser.UserId" />

<div class="form-group">
    <label for="message">Сообщение</label>
    <textarea type="text" id="message" class="form-control" placeholder="Сообщение..."></textarea>
</div>

<button type="button" class="btn btn-success" id="sendmessage">Отправить</button>

<div class="form-group">
    <ul id="chat">
        @foreach (var m in Model)
        {
            if (m.From == ViewBag.FromUser.UserId)
            {
                <li><b>@ViewBag.FromUser.Name</b>: @m.Text</li>
            }
            else
            {
                <li><b>@ViewBag.ToUser.Name</b>: @m.Text</li>
            }
        }
    </ul>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;

            chat.client.sendMessageAsync = function (from, message) {

                $('#chat').append('<li><b>' + from + '</b>: ' + message + '</li>');
            };

            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send(
                        $('#fromUserId').val(),
                        $('#toUserId').val(),
                        $('#fromName').val(),
                        $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });

    </script>

}



