@{
    ViewBag.Title = "Message";
}

<h1>Message</h1>

<div>
    @foreach (var messages in Model)
    {
        <a href="@Url.Action("Chat", "Message", new { id = messages.UserId })" class="msg-usr">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        @if (messages.PhotoUrl == null)
                        {
                            <img src="~/img/defaultPhoto.jpg" class="msg-usr-img" />
                        }
                        else
                        {
                            <img src="@messages.PhotoUrl" class="msg-usr-img" />
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@messages.Surname @messages.Name</h5>
                            <p class="card-text">Count of unread: @messages.CountOfUnread</p>
                            <p class="card-text"><small class="text-muted">Last message: @messages.LastMessage</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>







