
@{
    ViewBag.Title = "Profile";
}

<h1>Profile</h1>


<div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
        <div class="col-md-4">
            @if (@Model.PhotoUrl == null)
            {
                <img src="~/img/defaultPhoto.jpg" class="msg-usr-img" />
            }
            else
            {
                <img src="@Model.PhotoUrl" class="msg-usr-img" />
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><b>@Model.Surname @Model.Name</b></h5>
                <p style="font-size:  14pt;">Age: @Model.Age</p>
                <p style="font-size:  14pt;">Address: @Model.Address</p>
                <div>
                    <button type="submit" class="btn btn-primary" id="edit">Edit</button>
                    <button type="submit" class="btn btn-danger" id="delete">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#edit").click(function () {
                window.location = '@Url.Action("Edit", "User")';
            });

            $("#delete").click(function () {
                if (confirm("Are you sure you want to remove user?")) {
                    window.location = '@Url.Action("Delete", "User")';
                }
                return false;
            });
        });

    </script>
}


